<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.simpledaemons.simple-metricd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/simple-metricd</string>
        <string>--config</string>
        <string>/etc/simple-metricd/simple-metricd.conf</string>
        <string>--foreground</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/simple-metricd/simple-metricd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/simple-metricd/simple-metricd.error.log</string>
</dict>
</plist>
